<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Bienvenue sur cryptobank{% endblock %}</title>
        <!-- Favicon icon -->
        <link rel="icon" type="image/png" sizes="16x16" href="/builder/images/favicon.png">
        <!-- Custom Stylesheet -->
        {% block css %}{% endblock %}




     <link rel="stylesheet" href="{{ asset('build/style.css') }}">



    </head>
    <body>


        {% block body %}{% endblock %}
        {% block js %}{% endblock %}


    </body>

</html>
